:root {
    --primary-color: #3d1645;
    --secondary-color: #FF5722;
    --background-color: #fff1ff;
    --text-color: #333333;
  }
  
  body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
  }
  
  a {
    color: var(--primary-color);
  }
  
  a:hover {
    color: var(--secondary-color);
  }
  
  .card {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card-title {
    color: var(--primary-color);
  }
  
  .btn-primary {
    background-color: var(--primary-color);
    border: none;
  }
  
  .btn-primary:hover {
    background-color: var(--secondary-color);
  }
  