

<!-- 
  <div class="container mt-5">
    <h3 class="mb-4">Available personal computers</h3>
    <div class="row">
      <div class="col-md-4" *ngFor="let computer of computers">
        <app-computer [computer]="computer"></app-computer>
      </div>
    </div>
  </div> -->
  
  <div class="home-container">
    <div class="content">
      <h1 class="header-title">Welcome to the World of PCs</h1>
      <p>Discover our wide range of custom-built PCs or BUILD your own PC at <span class="studio-link" (click)="goToStudio()">studio</span>.</p>
    </div>
  </div>


<div class="container-fluid" style="background-color: var(--background-color); min-height: 100vh;">
  <div class="row">
    <app-sidebar class="col-md-3"></app-sidebar>
    <main class="col-md-9">
      <!-- <router-outlet></router-outlet> -->
      <div class="container mt-5">
        <h3 class="mb-4">Available personal computers</h3>
        <div class="row">
          <div class="col-md-4" *ngFor="let computer of computers">
            <app-computer [computer]="computer"></app-computer>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>